<h4>{{class.name}}</h4>
<form method="post">
<table class="table table-hover table-dark">
  <tbody>
    <tr>
      <th scope="row">Class</th>
      <td>{{class.name}}</td>
    </tr>
    <tr>
      <th scope="row">Recruiting</th>
      <td>
          <div class="form-check">
             <input class="form-check-input position-static" type="checkbox" name="recruiting" {{#ifCheck class.recruiting "true"}}checked{{/ifCheck}}>
          </div>
      </td>
    </tr>
    <tr>
    {{#each class.spec}}
        <th>{{@key}}</th>
        <td>
           
                <input class="form-check-input" type="radio" name="spec[{{@key}}]" value="true" {{#ifCheck this "true"}}checked{{/ifCheck}}>Open
        </td>
        <td>
                <input class="form-check-input" type="radio" name="spec[{{@key}}]" value="false" {{#ifCheck this "false"}}checked{{/ifCheck}}>Closed
            
        </td>
    {{/each}}
    </tr>
  </tbody>
</table>
    <input name="submit" type="submit" value="Submit">
</form>